body {
      background: url("https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwjbgoOlxubfAhXAGTQIHdV6BpYQjRx6BAgBEAU&url=http%3A%2F%2Ftmiaquatics.com%2Fthe-scientific-facts-about-water%2F&psig=AOvVaw2hBlwesvBYCDgfCZl193Ij&ust=1547323850744548")
      color:#00f2f9;
      background size: cover;
      background-position: center;
      }
