body{
	background: url("https://lh3.google.com/u/0/d/0B5MW2SLkVYMQZlQxbXhGa2Z5dUE=w1950-h804-iv1");
	color: #00f2f9;
	background-size: cover;
	background-position: center;
}
header{
	color: rgba(238, 238, 238);
	background: rgba(255, 0, 0, 1);
	text-align: center;
	line-height: 15px;
	padding: 10px;
	position: relative;
}
li{
	text-align: center;
}
img{
	text-align: center;
}
